@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;1,600&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  width: 100%;
}

body {
  position: relative;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}

/* Utils ----------------------------------------- */
.ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ab-bottom {
  position: absolute;
  bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5rem;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.no-user-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.canvas-container {
  position: relative;
}

canvas {
  height: 100vh;
  width: 100%;
  display: block;
}

.canvas__text-container {
  /* border: 8px solid rgba(255, 255, 255, 0.5); */
  width: 30rem;
  color: white;
  font-size: 3rem;
  font-style: italic;
  /* font-family: "Playfair Display", serif; */
  font-family: "Lora", serif;
}

.canvas__text-container span {
  color: #fbffbd;
}

.view-my-work {
  font-size: large;
  padding: 10px 40px;
  margin-top: 1.5rem;
  border: 2px solid #cac5e1;
  font-family: "Open Sans", sans-serif;
  color: white;
  background: linear-gradient(to left, transparent 50%, #cac5e1 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.view-my-work:hover {
  color: #001350;
  background-position: left;
}

.city-img {
  width: 100%;
  height: 30%;
  background-image: url("/images/city3.png");
  background-repeat: repeat-x;
  background-size: contain;
  /* cover - modify height / contain */
  background-position: bottom;
  opacity: 0.7;
}

#site-header {
  width: 100%;
  height: 5rem;
  /* Safari */
  color: white;
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}
#site-header.hide {
  top: -90px;
}
#site-header nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
#site-header nav ul {
  height: 100%;
  margin: 0;
}
#site-header .nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  height: 5rem;
  padding: 0 1.5rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  z-index: 5;
}
#site-header .nav-item:hover {
  color: #cac5e1;
  background-color: rgba(68, 95, 175, 0.3);
}
#site-header .logo {
  z-index: 5;
  height: 5rem;
  font-size: 2.2rem;
  /* font-family: "Playfair Display", serif; */
  font-family: "Lora", serif;
  font-style: italic;
  color: #cac5e1;
  margin-left: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.star-background,
.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.star-background {
  background: rgb(8, 7, 43) url(https://i.ibb.co/87GbbFP/2799006.jpg) repeat 20% center;
  transition: all 0.3s ease;
  visibility: hidden;
}
.star-background.visible {
  visibility: visible;
}
.star-background .stars {
  background: rgba(4, 2, 23, 0.7) url(../../images/stars.png) repeat top center;
  z-index: 0;
}
.star-background .twinkling {
  background: transparent url(../../images/twinkling.png) repeat center center;
  z-index: 1;
  -webkit-animation: move-twink-back 200s linear infinite;
          animation: move-twink-back 200s linear infinite;
  opacity: 0.6;
}
.star-background .clouds {
  background: transparent url(../../images/clouds.png) repeat top center;
  z-index: 2;
  opacity: 0.05;
  -webkit-animation: move-clouds-back 200s linear infinite;
          animation: move-clouds-back 200s linear infinite;
}

main {
  position: relative;
}

.top-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headline {
  position: relative;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #001350;
  white-space: nowrap;
}

#about-me {
  justify-content: space-between;
}
#about-me .text-container {
  max-width: 50%;
  flex-shrink: 2;
  padding: 2rem;
}
#about-me .image-container {
  display: inline-block;
  max-width: 50vw;
  height: 100%;
  opacity: 0.9;
}
#about-me .image-container > img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#skills {
  background-color: #f0efed;
}

#experience {
  flex-direction: column;
  background: #f4aaac;
}
#experience .experience-not-found {
  position: relative;
  text-align: center;
  top: -2rem;
}
#experience .experience-not-found .no-experience-text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  font-family: "Arial";
  color: #5f0d36;
  font-weight: bold;
}

#contact {
  background-image: url("../../images/sun-rise1.jpg");
  background-position-y: 25%;
  background-position-x: 10%;
  background-size: 100%;
}
#contact.container {
  flex-direction: column;
}

.wavy {
  -webkit-animation-name: wavy;
          animation-name: wavy;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}

@-webkit-keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
#loading-page {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: white;
}
#loading-page h2 {
  position: relative;
  top: -3rem;
  color: #e38a8a;
  font-family: "Lora", serif;
}

.side-bar {
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
  top: -5rem;
  right: 0;
  z-index: 99;
  height: 100vh;
  width: 2rem;
  background-color: black;
}/*# sourceMappingURL=style.css.map */