/* Extra small devices (phones, 600px and down) */
@mixin atSmall {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin atSmallMedium {
	@media (max-width: 768px) {
		@content;
	}
}
// 1024
@mixin atMedium {
	@media (max-width: 992px) {
		@content;
	}
}
@mixin atLarge {
	@media (max-width: 1120px) {
		@content;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Lora", serif;
	width: 100%;
	overflow-x: hidden;
	// height: -webkit-fill-available;
}
body {
	position: relative;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

button {
	all: unset;
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
}

* {
	box-sizing: border-box;
}

/* Utils ----------------------------------------- */

.ab-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ab-bottom {
	position: absolute;
	bottom: 0;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.hover-underline {
	display: inline-block;
	position: relative;
}

.hover-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 0.5rem;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.no-user-select {
	user-select: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
