		<script type="module" src="/scripts/<%= route %>/index.js"></script>
		<% if(aos==true){%>
			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
			<script>
				AOS.init();
			</script>
		<%}%>
	</body>
</html>
