<header
	class="site-header no-user-select"
	data-aos="fade-up"
	data-aos-duration="1000"
>
	<div class="star-background">
		<div class="stars"></div>
		<div class="twinkling"></div>
		<div class="clouds"></div>
	</div>
	<nav class="flex">
		<div class="logo flex">Ara Jo</div>
		<ul class="flex">
			<li class="nav-item hover-underline">Home</li>
			<li class="nav-item hover-underline">About</li>
			<li class="nav-item hover-underline">Experience</li>
			<li class="nav-item hover-underline">Works</li>
			<li class="nav-item hover-underline">Contact</li>
			<li class="nav-item menu-icon">
				<i class="fa-solid fa-bars"></i>
			</li>
		</ul>
	</nav>
</header>
