.mobile-menu-page {
	position: fixed;
	top: -120%;
	background-color: $night;
	width: 100%;
	height: 100vh;
	z-index: 100;
	transition: all 0.5s ease-out;

	display: flex;
	flex-direction: column;

	&>a{
		text-decoration: none;
	}
}

.mobile-menu__item {
	width: 100%;
	height: 20%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $sans-serif2;
	font-size: 1.2rem;

	&:nth-child(1) {
		background-color: black;
	}
	&:nth-child(2) {
		background-color: $night;
	}
	&:nth-child(3) {
		background-color: #470f3d;
	}
	&:nth-child(4) {
		background-color: #5f0d36;
	}
	&:nth-child(5) {
		background-color: #855f37;
	}
}
