// Section 5---------------------------------------------
.contact {
	background-image: url("/images/main-page/sun-rise1.jpg");
	background-size: cover;
	background-position-y: 25%;
	background-position-x: 0%;

	flex-direction: column;
	justify-content: center;
	overflow-y: hidden;

	.headline {
		padding-top: 3rem;
		@include atSmall {
			font-size: 2.5rem;
		}
	}

	.contact-box {
		width: 50%;

		@include atMedium {
			width: 70%;
		}
		@include atSmall {
			width: 90%;
		}
		> * {
			margin: 10px 0;
		}
		.contact__message {
			font-family: sans-serif;
			letter-spacing: 0.11rem;
			color: #484848;
			margin-bottom: 1rem;
			line-height: 1.4rem;
			padding-bottom: 1rem;
			@include atSmallMedium {
				font-size: 14px;
			}
		}
	}

	.open-email {
		cursor: pointer;
		text-decoration: underline;
	}
}
