.wavy {
	animation-name: wavy;
	animation-duration: 1.3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	position: relative;
	top: 0;
	left: 0;
}

@keyframes wavy {
	0% {
		top: 0px;
	}
	50% {
		top: -15px;
	}
	100% {
		top: 0px;
	}
}

#loading-page {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	height: 100vh;
	background-color: white;

	h2 {
		position: relative;
		top: -3rem;
		color: $pink;
		font-family: $serif;
	}
}

.side-bar {
	position: -webkit-sticky;
	position: sticky;
	display: inline-block;
	top: -5rem;
	right: 0;
	z-index: 99;
	height: 100vh;
	width: 2rem;
	background-color: black;
}
