main {
	position: relative;
}

.top-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.inner-container {
	width: 50%;

	@include atMedium {
		width: 70%;
	}
	@include atSmall {
		width: 90%;
	}
	> * {
		margin: 10px 0;
	}
}

.headline {
	position: relative;
	font-size: 4rem;

	letter-spacing: 2px;
	color: $night;
	white-space: nowrap;

	@include atSmall {
		font-size: 2.5rem;
	}
}

.white-background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	z-index: 0;
}

// Section1----------------------------------

.about-me {
	flex-direction: row;
	// justify-content: space-between;

	@include atSmallMedium {
		flex-direction: column;
		justify-content: start;
	}

	.image-container {
		// display: inline-block;
		// width: 40vw;
		max-width: 40%;
		height: 100%;
		opacity: 0.9;
		@include atSmallMedium {
			max-width: 100%;
			width: 100%;
			height: 50%;
			opacity: 0.8;
		}
		@include atSmall {
			height: 40%;
		}
	}

	.image-container > img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		@include atSmallMedium {
			object-position: 25% 70%;
		}
	}

	.text-container {
		max-width: 60%;
		padding: 4rem;

		@include atLarge {
			padding: 2rem;
		}
		@include atSmallMedium {
			max-width: 100%;
			height: 50%;
			padding: 0rem 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		@include atSmall {
			height: 60%;
		}
	}

	&.headline {
		font-size: 5rem;
		margin: 2rem auto;

		@include atLarge {
			font-size: 4rem;
		}
		@include atSmallMedium {
			font-size: 3.5rem;
			margin: 0 auto 0 0;
			text-align: left;
		}

		@include atSmall {
			font-size: 2.4rem;
		}
	}
	.content {
		font-size: 18px;
		font-family: $sans-serif;
		color: #484848;
		line-height: 2rem;
		margin-top: 1rem;
		padding-left: 2rem;

		@include atLarge {
			font-size: 1rem;
		}
		@include atSmallMedium {
			font-size: 16px;
			margin: 0;
			line-height: 22px;
		}
		@include atSmall {
			font-size: 14px;
			padding: 0;
		}
	}
}

//Section 2---------------------------------------Skills
.skills {
	background-color: #f0efed;

	.skill-set-container {
		position: relative;
		width: 100%;

		.white-background {
			z-index: 0;
		}
		.skill-set {
			z-index: 1;
		}
	}

	.skill-set {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.skill {
		width: 100px;
		height: 100px;
		font-family: $sans-serif;
		color: #484848;
		// border: 1px black solid;

		> * {
			display: block;
		}
		& :first-child {
			font-size: 2rem;
		}
		& :nth-child(2) {
			font-size: 14px;
		}
	}
	.skill-plus {
		margin-top: 1rem;
		z-index: 1;

		&__text {
			font-family: $sans-serif;
			color: $light-purple;
		}
		ul {
			color: #484848;
		}
		img {
			width: 2rem;
			height: 2rem;
			opacity: 0.7;
		}
	}
}
// Section 3---------------------------------------
.experience {
	flex-direction: column;
	background: #f4aaac;

	.experience-not-found {
		position: relative;
		text-align: center;
		top: -2rem;

		.no-experience-text {
			position: absolute;
			bottom: 0;
			z-index: 2;
			font-family: "Arial";
			color: $dark-red;
			font-weight: bold;
		}
	}
}
// Section4 --------------------------------------

// Section 5---------------------------------------------
.contact {
	background-image: url("../../images/sun-rise1.jpg");
	background-size: cover;
	background-position-y: 25%;
	background-position-x: 0%;

	flex-direction: column;
	justify-content: center;
	overflow-y: hidden;

	.headline {
		padding-top: 3rem;
		@include atSmall {
			font-size: 2.5rem;
		}
	}

	.contact-box {
		width: 50%;

		@include atMedium {
			width: 70%;
		}
		@include atSmall {
			width: 90%;
		}
		> * {
			margin: 10px 0;
		}
		.contact__message {
			font-family: sans-serif;
			letter-spacing: 0.11rem;
			color: #484848;
			margin-bottom: 1rem;
			line-height: 1.4rem;
			padding-bottom: 1rem;
			@include atSmallMedium {
				font-size: 14px;
			}
		}
	}
}
