main {
	position: relative;
}

.top-container {
	// position: absolute;
	// top: 0;
	// z-index: -1;
	position: relative;
	// top: -5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.headline {
	position: relative;
	font-size: 4rem;

	letter-spacing: 2px;
	color: $night;
	white-space: nowrap;
}

// Page1----------------------------------

#about-me {
	justify-content: space-between;

	> .headline {
		font-size: 5rem;
		font-weight: 600;
	}

	.text-container {
		max-width: 50%;
		flex-shrink: 2;
		padding: 2rem;
	}

	.image-container {
		display: inline-block;
		max-width: 50vw;
		height: 100%;
		opacity: 0.9;
	}

	.image-container > img {
		max-width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

//Page 2---------------------------------------
#skills {
	background-color: #f0efed;
}
// Page 3---------------------------------------
#experience {
	flex-direction: column;
	background: #f4aaac;

	.experience-not-found {
		position: relative;
		text-align: center;
		top: -2rem;

		.no-experience-text {
			position: absolute;
			bottom: 0;
			z-index: 2;
			font-family: "Arial";
			color: $dark-red;
			font-weight: bold;
		}
	}
}
// Page4 --------------------------------------

// Page 5---------------------------------------------
#contact {
	background-image: url("../../images/sun-rise1.jpg");
	background-size: cover;
	background-position-y: 25%;
	background-position-x: 10%;
	// background-size: 100%;

	flex-direction: column;
	justify-content: end;

	.contact-box {
		width: 50%;
		> * {
			margin: 10px 0;
		}
		.contact__message {
			font-family: sans-serif;
			letter-spacing: 0.11rem;
			color: #484848;
			margin-bottom: 1rem;
			line-height: 1.4rem;
		}
	}
}
