main {
	position: relative;
}

.top-container {
	// position: absolute;
	// top: 0;
	// z-index: -1;
	position: relative;
	// top: -5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.headline {
	position: relative;
	font-size: 4rem;

	letter-spacing: 2px;
	color: $night;
	white-space: nowrap;

	@include atSmall {
		font-size: 2.5rem;
	}
}

// Section1----------------------------------

.about-me {
	justify-content: space-between;

	@include atMedium {
		flex-direction: column;
		justify-content: start;
	}

	.headline {
		font-size: 5rem;
		margin-bottom: 0.75rem;

		@include atLarge {
			font-size: 4rem;
		}
		// @include atMedium {
		// 	font-size: 3rem;
		// }
		// @include atSmallMedium {
		// 	font-size: 2.5rem;
		// }
		@include atSmall {
			font-size: 3.5rem;
		}
	}

	.text-container {
		max-width: 50%;
		flex-shrink: 2;
		// padding: 2rem;
		padding-right: 4rem;
		margin-top: 0.75rem;

		@include atLarge {
			padding: 2rem;
		}
		// @include atSmallMedium {
		// 	padding: 1.5rem;
		// }
		@include atMedium {
			max-width: 100%;
			height: 45%;
			padding: 0rem 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// padding-bottom: 2rem;
		}
	}

	.image-container {
		display: inline-block;
		max-width: 50vw;
		height: 100%;
		opacity: 0.9;
		@include atMedium {
			max-width: 100%;
			width: 100%;
			height: 55%;
			opacity: 0.8;
		}
	}

	.image-container > img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		@include atMedium {
			object-position: 25% 65%;
		}
	}
}

//Section 2---------------------------------------
.skills {
	background-color: #f0efed;
}
// Section 3---------------------------------------
.experience {
	flex-direction: column;
	background: #f4aaac;

	.experience-not-found {
		position: relative;
		text-align: center;
		top: -2rem;

		.no-experience-text {
			position: absolute;
			bottom: 0;
			z-index: 2;
			font-family: "Arial";
			color: $dark-red;
			font-weight: bold;
		}
	}
}
// Section4 --------------------------------------

// Section 5---------------------------------------------
.contact {
	background-image: url("../../images/sun-rise1.jpg");
	background-size: cover;
	background-position-y: 25%;
	background-position-x: 0%;

	flex-direction: column;
	justify-content: center;

	.headline {
		padding-top: 3rem;
		@include atSmall {
			font-size: 2.5rem;
		}
	}

	.contact-box {
		width: 50%;

		@include atMedium {
			width: 70%;
		}
		@include atSmall {
			width: 90%;
		}
		> * {
			margin: 10px 0;
		}
		.contact__message {
			font-family: sans-serif;
			letter-spacing: 0.11rem;
			color: #484848;
			margin-bottom: 1rem;
			line-height: 1.4rem;
			padding-bottom: 1rem;
			@include atSmallMedium {
				font-size: 14px;
			}
		}
	}
}
