$pink: #e38a8a;
$night: #001350;
$dark-red: #5f0d36;
$light-blue: #376bdb;
$light: #fbffbd;
$light-purple: #cac5e1;

$sans-serif: "Open Sans", sans-serif;
$serif: "Lora", serif;
$sans-serif2: "Figtree", sans-serif;
