	<%- include('../partials/_head',{title:"Joke Teller", route:"joke-teller",aos:false}) %>
		<div class="container">
			<button id="button">
				Tell Me A Joke <i class="fa-solid fa-circle-play"></i>
			</button>
			<audio id="audio" controls hidden></audio>
		</div>
		
		<script src="/scripts/joke-teller/index.js"></script>
	</body>
</html>
