main {
	position: relative;
}

.top-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.inner-container {
	width: 50%;
	height: 100%;

	@include atMedium {
		width: 70%;
	}
	@include atSmall {
		width: 90%;
	}
	> * {
		margin: 10px 0;
	}
}

.headline {
	position: relative;
	font-size: 4rem;

	letter-spacing: 2px;
	color: $night;
	white-space: nowrap;

	@include atSmall {
		font-size: 2.5rem;
	}
}

.white-background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	z-index: 0;
}

.height80 {
	width: 100%;
	height: 70%;
}

.flex-btw {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.width60 {
	width: 60%;
	height: 100%;

	@include atLarge {
		width: 70%;
	}

	@include atMedium {
		width: 80%;
	}
	@include atSmall {
		width: 90%;
	}
	> * {
		margin: 10px 0;
	}
}
